ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(88, 88, 88);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(54, 54, 54);
  }

  .left-align {
      float: left;
  }